let mapleader = " "


set easymotion

set showmode
set so=5
set incsearch
set nu
set NERDTree

let g:EasyMotion_do_mapping = 0
map s <Plug>(easymotion-s)

map <leader>f <Action>(SearchEverywhere)
map <leader>t <Action>(GotoFile)
map <leader>< <Action>(FileStructurePopup)
map <leader>r <Action>(RenameElement)
map <leader>o <Action>(RiderManageRecentProjects)

map <leader>t <Action>(ActivateTerminalToolWindow)

map <leader>sl <Action>(MoveTabRight)
map <leader>wd <Action>(CloseContent)
map <leader>wl <Action>(NextSplitter)
map <leader>wh <Action>(PrevSplitter)

map <leader>b <Action>(BuildSolutionAction)
map <leader>dr <Action>(Debug)
map <leader>dc <Action>(Resume)
map <leader>ds <Action>(Stop)

map <leader>n <Action>(NewElement)

map <leader>e :NERDTreeFocus<CR>
map <leader>sr <Action>(ReplaceInPath)

nmap <leader><leader> <Action>(GotoFile)
nmap <leader>/ <Action>(FindInPath)
nmap <leader>ft <Action>(TextSearchAction)
nmap <leader>fd <Action>(GotoSymbol)
nmap <leader>ff <Action>(SelectInProjectView)

nmap gr <Action>(FindUsages)
nmap gi <Action>(ResharperGotoImplementation)

nmap <leader>1 <Action>(SetHarpoon1)
nmap <leader>2 <Action>(SetHarpoon2)
nmap <leader>3 <Action>(SetHarpoon3)
nmap <leader>4 <Action>(SetHarpoon4)

nmap <C-1> <Action>(GotoHarpoon1)
nmap <C-2> <Action>(GotoHarpoon2)
nmap <C-3> <Action>(GotoHarpoon3)
nmap <C-4> <Action>(GotoHarpoon4)

nmap <C-l> <Action>(CommentByLineComment)
vmap <C-l> <Action>(CommentByLineComment)

nmap K <Action>(ShowErrorDescription)<Action>(QuickJavaDoc)

nmap <leader>u :action FindUsages<CR>
nmap <S-l> <Action>(NextTab)
nmap <S-h> <Action>(PreviousTab)

nmap <leader><Esc> <Action>(HideAllWindows)